 @tailwind base;
@tailwind components;
@tailwind utilities;



 @import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  background: #3c3c3c;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

progress {  
  height: 10px;
  width: 50px;  
  border-radius: 20px;
  border:  1px solid #3c3c3c;
}
progress::-webkit-progress-bar {
  background-color:#3c3c3c ;
}
progress::-webkit-progress-value {
  background-color: red;
}